<h1><%= @list.name %></h1>

<form action="/list/<%=@list.id%>" method="post">
  <input type="hidden" name="id" value="<%=@list.id%>">
  <div class="form-group">
  <label for="task">Add Task</label>
  <input type="text" class = 'form-control'name="task" placeholder= 'e.g. feed the cat'>
</div>
<div class="form-group">
  <label for ="rank">Rank your task</label>
  <input type="number" name="rank" class = 'form-control' placeholder = 'e.g. 1'>
</div>
<button name="button" type='submit'>Add Task</button>

</form>


<h3>Your Tasks</h3>
<% if @list %>
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Rank</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @list.tasks.each() do |task|%>
        <tr>
            <td><%= task.description() %></td>
            <td><%= task.rank() %></td>
            <td><a href="/task/<%= task.id() %>/edit"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td><a href="/task/<%= task.id() %>/delete"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
        <% end %>
    </table>
<% end %>
